<a href="https://colab.research.google.com/github/Ronny706/Ronny706.github.io/blob/main/CODIGOS_DE_RONNY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

series

In [ ]:
n = int(input("ingrese cantidad de N terminos"))
m = int(1)
for i in range(1,n+1,1):
  m=m*2
  if(i % 2==1):
    print(i,"/",m)  
  else:
    print(m,"/",i)

Sumar, restar, multiplicar y dividir dos números, Mostrar su resultado

In [ ]:
a = int(input("ingrese el primer numero: "))
b = int(input("ingrese el segundo numero: "))
print("la suma es: ",a+b)
print("la resta es: ",a-b)
print("la multiplicacion es: ",a*b)
print("la division es: ",a/b)

Hallar el factorial

In [ ]:
f = int(input("ingrese el numero para obtener su factorial: "))
n = int(1)
for i in range(1,f+1,1):
  n=n*i
print("el factorial de",f,"es: ",n)

 Realizar un programa para saber el mayor de tres números

In [ ]:

m = int(0)
for i in range(0,3,1):
  a = int(input("ingrese un numero: "))
  if(a>m and a>0):
    m=a    
print("el numero mayor es: ",m)

Construir un diagrama de flujo, tal que dado como dato la calificación de un alumno, escriba "aprobado" en caso de que esa calificación sea mayor a 10.

In [ ]:
anio = int(input("ingrese el año para verificar si es bisiesto: "))
if(anio%4==0):
  print("año bisiesto")
else:
  print("año No bisiesto")

Escribir un programa para generar los N primeros números primos, sabiendo que N es un numero positivo

In [ ]:
n = int(input("ingrese un numero: "))
c=1
p=2
d=2
if(n>0):
  while(c<=n):
    if(p%d==0):
      if(p==d):
        print(p,",")
        c=c+1
      d=2
      p=p+1
    else:
      d=d+1
else:
  print("el numero introducido debe ser mayor a 0!!")

Mostrar los N primero términos de la serie de Fibonacci

In [ ]:
n = int(input("ingrese un numero: "))
a=0
b=1
for i in range(1,n+1,1):
  print(a,",")
  c=a+b
  a=b
  b=c

Leer 3 números enteros, ordenarlos de mayor a menor

In [ ]:
a=int(input("ingrese un numero para ordenarlos: "))
b=int(input("ingrese un numero para ordenarlos: "))
c=int(input("ingrese un numero para ordenarlos: "))
if(a>=b and a>=c):
  print(a," - ")
  if(b>=c):
    print(b," - ",c)
  else:
    print(c," - ",b)
else:
  if(b>=a and b>=c):
    print(b," - ")
    if(a>=c):
      print(a," - ",c)
    else:
      print(c," - ",a)
  else:
    if(c>=a and c>=b):
      print(c," - ")
      if(a>=b):
        print(a," - ",b)
      else:
        print(b," - ",a)

Introducir tres números por teclado en las variables A, B y C respectivamente. Los números deben ser enteros y diferentes entre sí. Imprimir por pantalla el menor de los tres.

In [ ]:
A=int(input("ingrese un numero para ordenarlos: "))
B=int(input("ingrese un numero para ordenarlos: "))
C=int(input("ingrese un numero para ordenarlos: "))
if(A!=B and B!=C and A>0 and B>0 and C>0):
  if(A<B and A<C):
      print("el menor es: ",A)
  else:
    if(B<A and B<C):
      print("el menor es: ",B)
    else:
      if(C<B and C<A):
        print("el menor es: ",C)
else:
  print("los numeros no son enteros y/o no son diferentes entre si")

Mostrar los N términos de la serie

In [ ]:
n = int(input("ingrese un numero de serie: "))
num=3
den=2
for i in range(1,n+1,1):
  if(i%2==1):
    print(num,"/",den)
  else:
    print(den,"/",num)
  num=num+3
  den=den+2

hola mundo

In [ ]:
print("Hola mundo!")

Escriba un programa que lea tres números enteros separados por un espacio e imprima la suma.

In [ ]:
a,b,c=map(int,input().split())
print(a+b+c)

La entrada consiste en un numero entero que representa la cantidad de segundos que indica la maquina.

In [ ]:
x=int(input())
print(x//3600,(x%3600)//60,(x%60))

Escriba un programa que calcule el promedio de 4 notas ingresadas por el usuario:

Las notas se ingresan una por linea como el ejemplo.

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
s=a+b+c+d
print("{:.3f}".format(s/4))                           #numero con dos cifras decimales "{:.(n veces de decimales)f}"

Doblando Papeles

In [ ]:
a=int(input())
print(2**a)

Hemos sacado A bolas de una caja que contenía N bolas y luego hemos puesto B bolas nuevas en esa caja. ¿Cuántas bolas contiene ahora la caja?

In [ ]:
a,b,c=map(int,input().split())
print(a-b+c)

Debes imprimir N arbolitos en el formato dado, toma en cuenta los espacios.

In [ ]:
n=int(input())
for i in range(1,n+1,1):
  print("a")

binario

In [ ]:
n=int(input())
b=bin(n)
print(b)

Sume un segundo

In [ ]:
a,b,c=map(int,input().split())
x=(a*3600)+(b*60)+c+1
if(x==86400):
    a=0
    b=0
    c=0
    x=(a*3600)+(b*60)+c
print("{:02d}:{:02d}:{:02d}".format(x//3600, (x%3600)//60, (x%60)))             #formato reloj con dos puntos

Distancia entre dos puntos

In [ ]:
a,b,c,d=map(float,input().split())
x=((a-c)**(2)+(b-d)**(2))**(1/2)
print("{:.2f}".format(x))

Descripción
El problema pide cambiar un determinado bit un numero entero. Recordamos que los numeros enteros son de 32 bits.

Supongamos que tenemos el numero 10 cuya representación binaria es 1010. Ahora nos piden cambiar el segundo bit a 1, el resultado será 1110 cuya representación decimal es es el 14.

Entrada
La entrada consiste de un numero entero y el bit que queremos cambiar. En el ejemplo de entrada hay múltiples ejemplos, sin embargo cada caso de prueba solo trae un caso.

Salida
En la salida escriba en una línea dos números separados por un espacio. El primero el resultado de colocar el bit solicitado a uno y el segundo el resultado de cambiar el bit solicitado, si es uno cambie a 0 y si es cero cambie a 1.

Ejemplo Entrada
1234 7
10 3
10 2
Ejemplo Salida
1234 1106
10 2
14 14

In [ ]:
a,b=map(int,input().split())
print(bin(a))
print(bin(a>>b))
print(bin(a<<b))
print(bin(a>>b^a))

bowl 
1:0
2:4
3:7
4:9

In [ ]:
a,b=map(int,input().split())
a=((a*(a+1)//2)-((a-b)*(a-b+1)//2))
print(a)

triangulo equiliatreo

In [ ]:
n=int(input())
a=((((3)**(1/2))*(n**2))/4)
print("{:.2f}".format(a))

domino

In [ ]:
a,b=map(int,input().split())
c=a*b
print(c//2)

Comparar Palabras

In [ ]:
a,b=map(str,input().split())
if(a==b):
  print(a,"=",b)
if(a>b):
  print(a,">",b)
if(a<b):
  print(a,"<",b)

Máximo de N números

In [ ]:
a,b=map(int,input().split())
print(max(a,b))

sueldo con bonos![photo4990516896193424133.jpg]()

In [ ]:
S,A=map(int,input().split())
if(A<5):
  print("no tiene bono")
elif(A>5 and A<=10):
  S=S+(S*(5/100))
  print("su sueldo total es",S)
elif(A>10):
  S=S+(S*(10/100))
  print("su sueldo total es",S)

Escriba un programa que reciba como entrada los tres lados de un triángulo, e indique:

In [ ]:
a,b,c=map(float,input().split())
if(a>b+c or b>a+c or c>a+b):
  print("El triangulo es invalido") 
else:
  if(a==b and a==c and b==c):
      print("El triangulo es equilatero")
  elif(a==b or a==c or b==c ):
    print("El triangulo es isoseles")
  elif(((a**2)==(b**2)+(c**2)) or ((b**2)==(a**2)+(c**2)) or ((c**2)==(b**2)+(a**2))):
    print("El triangulo es rectangulo")
  elif(a!=b and a!=c and b!=c ):
    print("El triangulo es escaleno")

Escriba un programa que simule una calculadora básica, este puede realizar operación de suma, resta, multiplicación y división.

El programa debe recibir como entrada 2 números reales y un operador, que puede ser +, -, *, / y **.

La salida del programa debe ser el resultado de la operación

In [ ]:
a=int(input())
x=str(input())
b=int(input())
if(x=="+"):
  print(a,x,b,"=",a+b)
elif(x=="-"):
  print(a,x,b,"=",a-b)
elif(x=="*"):
  print(a,x,b,"=",a*b)
elif(x=="/"):
  print(a,x,b,"=",a/b)
elif(x=="**"):
  print(a,x,b,"=",a**(b))

Un partido de tenis se divide en sets. Para ganar un set, un jugador debe ganar 6 juegos, pero además debe haber ganado por lo menos dos juegos más que su rival. Si el set está empatado a 5 juegos, el ganador es el primero que llegue a 7. Si el set está empatado a 6 juegos, el set se define en un último juego, en cuyo caso el resultado final es 7-6.

In [ ]:
a,b=map(float,input().split())

if(a==7 and b==6):
  print("Gano A")
elif(a==6 and b==7):
  print("Gano B")

elif(a==7 and b==5):
  print("Gano A")
elif(a==5 and b==7):
  print("Gano B")

elif(a==6 and b==4):
  print("Gano A")
elif(a==4 and b==6):
  print("Gano B")
elif(a==6 and b==5):
  print("Aun no termina")
elif(a==5 and b==6):
  print("Aun no termina")
elif(a==b):
  print("Aun no termina")
elif(a-2>b or b-2>a ):
  print("Invalido")
elif(a!= 7 and a!=6 and b!=6 and b!= 7):
  print("Aun no termina")

Años Bisiesto

In [ ]:
a=int(input())
if( a % 100 != 0):
  if(a % 4 == 0):
    print("si") 
  else:
    print("no")

elif( a % 400 == 0):
  print("si")

else:
  print("no")

Escriba un programa que lea un número  e imprima la suma de sus dígitos.

#MULTIPLES CASOS DE PRUEBA EN PYTHON


    while True:
     try:
          #codigo
     except EOFError:
          break

In [ ]:
while True: 
     try:
          x=str(input())
          b=len(x)                        #cuenta las letras de una cadena
          s=0
          for i in range(b):
            r=x[i:i+1]
            s=s+int(r)
          print("La suma de los digitos de",x,"es",s)
     except EOFError:
          break

Se pide que lea una letra y si es minúscula la convierta en mayúscula y viceversa.

In [ ]:
a=str(input())
if(a>='a' and a<='z'):
  print(a.upper())          #convierte de min a MAY
if(a>='A' and a<='Z'):
  print(a.lower())          #convierte de MAY a min

El problema consiste en leer todos los datos y imprimir la suma de los mismos en una línea

In [ ]:
x=int(input())
s=0
for _ in range(x):
  y=int(input())
  s=s+y
print(s)

La entrada consiste de múltiples casos de prueba. La primera linea contiene un numero entero que indica el número de casos de prueba. La primera de cada caso de prueba línea contiene un número entero n que indica cuantos números leer.
Luego siguen n lineas cada una con un numero entero.

In [ ]:
z=int(input())
s=0
for _ in range(z):
  s=0
  x=int(input())
  for _ in range(x):
    y=int(input())
    s=s+y
  print(s)

Los números armónicos se definen como:

Hn=1/1+1/2+1/3+.....+1/n

Donde Hn es el n-simo número armonico.

In [ ]:
x=int(input())
s=0
for i in range(1,x+1):
  s=s+(1/int(i))
print("{:.4f}".format(s))

Descripción
Se le pide escribir un programa para validar fechas del calendario Gregoriano. Es decir él que utilizamos comúnmente.
Los años bisiestos tienen 366 días. y son aquellos que son múltiplos de 4 y no terminan con dos ceros, ó que después de quitar los dos ceros del final son divisibles por 4. Por ejemplo 1800, y 1900 no son años bisiestos, sin embargo el año 2000 si lo fue.
Entrada
La entrada consiste de varias lineas. La primera linea contiene un numero N que indica cuantas fechas hay que verificar.
Luego siguen N lineas con las fechas a verificar. Cada línea contiene tres números enteros que representan el día, mes y año respectivamente.

In [ ]:
x=int(input())
for _ in range(x):
  a,b,c=0,0,0
  a,b,c=map(int,input().split())
  if(a>0 and a<32 and b>0 and b<13 and c>0):
    if( c % 100 != 0):
      if(c % 4 == 0  ):
         if(b==2 ):#-------
          if(a<30):
            print("Fecha correcta")
          else:
            print("Fecha incorrecta")
         else:
          print("Fecha correcta")#-------
      else:
        if(b==2 ):#-------
          if(a>28):
            print("Fecha incorrecta")
          else:
            print("Fecha correcta")
        else:
            print("Fecha correcta")#-------
    elif( c % 400 == 0):
       if(b==2 ):#-------
          if(a<30):
            print("Fecha correcta")
          else:
            print("Fecha incorrecta")
       else:
          print("Fecha correcta")#-------
    else:
      if(b==2 ):#-------
          if(a>28):
            print("Fecha incorrecta")
          else:
            print("Fecha correcta")
      else:
          print("Fecha correcta")#-------
  else:
    print("Fecha incorrecta")

Descripción
Antes del año 1971, Gran Bretaña utilizó un sistema de monedas que se remonta a la época de Carlomagno.
Las tres principales unidades de la moneda británica fueron el penique, el chelín, y la libra.
Se tenían las siguientes equivalencias, existen 12 peniques en un chelín y 20 chelines en una libra. Dado una cantidad de monedas  peniques se quiere convertir esta cantidad en libras, chelines y peniques para esto se
procede de la siguiente manera, la primera
conversión sera de monedas de peniques a su equivalencia máxima en libras, y luego convertir
la mayor cantidad de peniques restantes como sea posible hacia su equivalente en chelines y el restante se mantiene en peniques.
Devuelve estos datos en un  vector de enteros con tres elementos que contiene la equivalencia en
monedas de libras, monedas de chelines, y el número de monedas de un penique, en ese orden.

Entrada
La entrada de datos consiste en un entero A que representa la cantidad de monedas
disponible en peniques, el número está definido como se indica 0≤A≤10000.

En la entrada hay un solo dato. Se muestran multiples datos como ejemplo

Salida
Escriba para cada caso de prueba tres números, los cuales son el equivalente en libras, chelín y peniques.

In [ ]:
p=int(input())
print("("+str(p//240)+",",str((p%240)//12)+",", str(p%12)+")")

La secuencia simple de Collatz (SCS) que comienza en un número entero n, se define mediante la fórmula:
S (k) = (k / 2) si k es par, de lo contrario (k + 1))

La secuencia es entonces n, S (n), S (S (n)), ... hasta que el valor llega primero a 1.

Por ejemplo, a partir de las 11, tenemos:

11−>12−>6−>3−>4−>2−>1

La secuencia siempre termina en 1. (Dato curioso: la secuencia Collatz que envía k impar a 3 * k + 1. Se desconoce si esa secuencia siempre termina en 1.)

Sea A (n) = número de pasos en el SCS comenzando en n. Por ejemplo, A (11) = 6. Escribir un programa que calcule A(n) para una entrada dada n.

In [ ]:
y = int(input())
for _ in range(y):
  x = int(input())
  if x > 0:
      c=0
      while x != 1:
          
          c+=1
          if x % 2==1:  
              x = x + 1
          else:
              x = x// 2
      print(c)
  else:
      break

Descripción
En la clase nos han dado la siguiente lista de sucesiones de números contiguos:

1=1
2+3+4=1+8
5+6+7+8+9=8+27
10+11+12+13+14+15+16=27+64
Fíjese que el resultado es la suma de los números en la secuencia y la suma anterior siempre figura en el resultado. Lo que se quiere conocer es cual es el siguiente resultado de la suma de consecutivos. En el problema se proporciona el número n y se trata de conocer cual es el resultado de la sucesión, por ejemplo:

si n=3 el resultado es 8+27
si n=4 el resultado es 27+64
como se puede ver en la sucesión.

In [ ]:
n = int(input())
c=1
s=0
i=0
cc=0
for _ in range(n):
  for i in range(1,(n*n)+1):
    print(i)
    s=s+i
    if(i==c):
      print("------------",s)
      cc+=1
      c=(cc+1)*(cc+1)
      s=0

In [ ]:
total=0

for i in [2,2,2,2,4] :                               #se suman las variables para for

      total=total+i
      print(i)
print("   =",total)

In [ ]:
lo_mas_chico=-1

for numero in [9,12,3,9,17,23]:
  print(numero)
  if numero < lo_mas_chico:
    lo_mas_chico=numero

print("       -",lo_mas_chico)

escripción
Lulu quiere ser mas pesado que todos, o al menos ser mas pesado que Leliz.
En este momento, Lulu y Leliz pesan A y B respectivamente. Esta garantizado que el peso de Lulu es menor o igual al peso de Leliz.
Lulu come mucho para ser mas pesado que Leliz y su peso se triplica cada año, mientras que de Leliz se duplica cada año.
Ayuda a Lulu a saber en cuantos años seria mas pesado que Leliz.
Entrada
La primera línea contiene un número entero N, 1 ≤ N ≤ 100 que indica el número de casos de prueba.
Cada Caso de prueba consiste en dos números enteros A y B, 1 ≤ a ≤ b ≤ 10 el peso de Lulu y el peso de Leliz.
Salida
Imprimir en cuantos años Lulu se volverá más pesado que Leliz.

In [ ]:
n=int(input())
for _ in range (n):
  c=0
  a,b,=map(int,input().split())
  while(a<=b):
    c+=1
    a*=3
    b*=2
  print(c)

Descripción
El problema radica en determinar si el producto de los elementos de un conjunto es un número cuadrado. Veamos algunos ejemplos:
{40, 10} dado que 40*10=400 que es 20*20  es un número cuadrado.
{60,40,20,30} dado que 60*40*30*20 es 1440000 que es 1200*1200 el producto es un número cuadrado.
{10,30} dado que es 300 que es 17.32*17.32 porque 17.32 no es un número entero se dice que no es un número cuadrado.
Dado un conjunto de números se te pide indicar si el producto de sus números es un números cuadrado.

Entrada
La entrada consiste de múltiples casos. La primera linea contiene el numero de casos de prueba.
Cada caso de prueba consiste de dos líneas, la primera que indica el numero n de elementos del conjunto (1≤n≤100). la siguiente linea contiene un conjunto n números (2≤xi≤105) separados por un espacio.
Salida
Imprima en una linea si el producto de sus elementos es un numero cuadrado, tal como se muestra en el ejemplo

In [ ]:
import math
x = int(input())
for _ in range(x):
  n = int(input())
  cont = 0
  for i in range(1, n+1):
    if n % i == 0:   
      cont += 1
  if cont == 2:
    pd, pe = math.modf()
    #print(str(n)+":","{:.40f}".format(1/n))
    print(pd)
  else:
    print(str(n)+":","-1")

saber si es primo

In [ ]:
n = int(input())
cont = 0
for i in range(1, n+1):
  if n % i == 0:
    
    cont += 1

if cont == 2:
  print("primo")
else:
  print("no primo")

Escribir un programa que lea un número entero que representa una temperatura dada en grados Centígrados, y que le informe si el clima es cálido, si hace frío, o si está bien. 
Suponemos que hace calor si la temperatura es superior a 30 grados, que es frío si la temperatura es inferior a 10 grados, y que está bien lo contrario. Por otra parte, 
Adicionalmente imprima una linea que diga, que el agua a esa temperatura hierve, o se congela. Se supone que el agua hierve a los 100 grados y se congela a los 0 grados.

In [ ]:
temp=int(input())
if(temp>30):
  print("hace calor")
if(temp<10):
  print("hace frio")
if(temp>=10 and temp <=30):
  print("esta bien")
if(temp>=100):
  print("hierve")
if(temp<=0):
  print("se congela")

##Descripción
Se tiene una lista de números y te piden hallar la suma de los mismos. Se sabe que la suma no excede un numero entero.
##Entrada
La entrada consiste de múltiples casos de prueba. La entrada termina cuando no hay más casos, es decir fin de archivo.
Cada caso de prueba consiste de una secuencia que viene en una línea con números separados por un espacio. Todas las secuencias terminan con un numero cero.
##Salida
Por cada caso de prueba escrita en una linea la suma de los números.

In [ ]:
n=1
x=0
while True:
 try:
      while(n!=0):
        n=map(int,input().split())
        x=x+n
      print (x)
 except EOFError:
      break

#Descripción
Cuando Lord Voldemort supo que Harry Potter se encontraba en Hogwarts con el propósito de localizar y destruir uno de sus últimos Horrocruxes, ordenó a todos los mortífagos y a las criaturas que habían prometido lealtad a él atacar la escuela. El Ejército de Dumbledore comunicó a la Orden del Fénix y sus otros aliados para ayudar a combatir a Harry Potter, logrando una gran batalla.

Ahora Harry Potter necesita tu ayuda, para saber quienes son Mortífagos(Los mortífagos son los seguidores incondicionales de Lord Voldemord), para asi no dañar a los que son de Hogwarts.

Cada Mortifago esta representado por  (Numero ASCCI de un cararter) % 5 = 0  o (Numero ASCCI del cararter ) % 7 = 0.}. 

Cuando Harry verifique si el caracter es un Mortifago pasara lo siguiente: si es un Mortifago lanzara el siguiente hechizo Desmaius. El hechizo Desmaius hará lo siguiente: Convertira el Caracter Mortifago en su Numero Ascci, y si no es Mortifago no pasara nada.

#Ejemplo:

Si se te da la siguiente cadena "Asustado Potter!!" se aplicara a cada caracter que es un Mortifago el hechizo Desmaius, quedando de la siguiente forma la cadena "65115u115ta100o 80otter!!"

#Entrada
La entrada consiste de múltiples casos de prueba. La primera línea contiene el número de casos de prueba.

Cada Caso de prueba contiene una cadena S no mas de 1000 caracteres .

#Salida
Por cada caso de prueba imprima en una línea, La cadena despues de que se lanzo el hechizo Desmaius a todos los caracteres que era Mortifagos.

Ejemplo Ent

In [ ]:
a=str(input())
def split(a):
    return [char for char in a]
b=split(a)
for i in range (len(a)):
  txt=str(a[i])
  if(int(ord(txt))%5==0 or int(ord(txt))%7==0):
    b[i] = ord(txt)  
print(*b,sep="")

#Descripción
Comenzando con un entero entre 00 y 99 inclusive, escritos como dos dígitos (use un cero a la izquierda en caso de que el número sea menor que 10). Realice los siguiente:
Sume los dos dígitos.
Ahora concéntrese en el dígito de la derecha, en el número original y en el de la suma.
Finalmente combine estos números.
Si repetimos este proceso varias veces obtenemos el número original..

Por ejemplo

Inicio  Sume los dos dígitos   Combine los dos dígitos
------------------------------------------------------
 26 :     2+6 = 08 :            "6" y "8" = 68
 68 :     6+8 = 14 :            "8" y "4" = 84
 84 :     8+4 = 12 :            "4" y "2" = 42
 42 :     4+2 = 06 :            "2" y "6" = 26

En este caso tomo 4 pasos para obtener el número original.. Se pide que devuelva el número de pasos requeridos para obtener el número original.

#Entrada
En la entrada hay varios casos de prueba. Cada caso de prueba viene en una linea que contiene un número 0≤N≤99.La entrada termina cuando no hay más datos

#Salida
Por cada caso de prueba escriba en una línea el número de pasos requeridos para obtener el número original.

In [ ]:
  b=0
  num=0
  c=0
while True:
 try:
    a=int(input())
    while(a!=b):
      c=c+1
      a=b
      x=a//10
      y=a%10
      print(x+y)
      y1=(x+y)%10
      print(num)
      b=int(num)
    print(num)
 except EOFError:
      break

#Entrada
La primera línea señala los n casos de prueba, cada caso de prueba es numero x comprendido entre 4<=x<=1000000.

#Salida
La salida es la suma de los dos primos más próximos a la izquierda y derecha.

In [ ]:
def primo(i):
  cont = 0
  for i in range(1, n+1):
    if n % i == 0:
      cont += 1
  if cont == 2:
    #print("primo")
    return x
  else:
    #print("no primo")  
    return 
n=int(input())
for _ in range(n):
  x=int(input())
  for i in range(1,x): #izq primo
    cont = 0
  for i in range(1, n+1):
    if n % i == 0:
      cont += 1
  if cont == 2:
    #print("primo")
    return x
  else:
    #print("no primo")

#Descripción
Definimos los números primos circulares aquellos que luego de rotar un numero siguen siendo primos. Por ejemplo
las rotaciones del numero primo 17 son: 17 y 71 ambos son primos asi decimos que el 17 es un numero primo circular. El numero 101 tiene tres rotaciones, si rotamos una vez tenemos 110 , la segunda rotación es 011, como vemos 110 no es primo por lo que el 101 no es un primo circular.

#Entrada
La entrada es una lista de numeros cada uno en una linea y termina con un "-1". Todos los números son menores a 10,000.

#Salida
Para cada número en la entrada en la salida escriba SI si el numero es circular y NO en otro caso.

In [ ]:
n=int(input())
while(n!=-1):
  
  cont = 0
  for i in range(1, n+1):
    if n % i == 0:
      cont += 1
  if cont == 2:
    #print("primo")
    
    numero = 0
    while (n != 0):
      numero = 10*numero+n % 10
      n //= 10
      #print(numero)
      
    conta = 0
    for J in range(1, numero+1):
      if numero % J == 0:
        conta += 1
    if conta == 2:
      print("SI")
    else:
      print("NO")

  else:
    #print("no primo")
    print("NO")
  n=int(input())

invertir numero

In [ ]:
n=int(input())
numero = 0
while (n != 0):
  numero = 10*numero+n % 10
  n //= 10
print(numero)

#Descripción
El epicentro de un número n es el dígito que está en el medio del número.

Por ejemplo el epicentro de 89012 es 0 porque es el dígito que está en la mitad del número.

Algunos números no tienen epicentro es el caso de los números con cantidad de dígitos par.

Por ejemplo el número 2244 no tiene epicentro porque su cantidad de dígitos es 4.

Dado un número, se quiere encontrar cuál es su epicentro.

###Entrada
El programa aceptará un número n por teclado (1<=n<=99999).

###Salida
Según sea la entrada se pide imprimir el dígito epicentro en una línea, si el epicentro no existiera se deberá imprimir "*" sin comillas.

In [ ]:
a=str(input())
def split(a):
    return [char for char in a]
b=split(a)
#print (b,len(b))
if len(b)%2==1:
  print(b[(len(b)//2)])
else:
  print("*")

Problem H: SUMA3

In [ ]:
n=int(input())
c=0
for i in range(n):
  if (i%3==0):
    c+=i
print(c)

: Invertir palabras 1

In [ ]:
for _ in range(int(input())):
  a=str(input())
  con=0
  def split(a):
      return [char for char in a]
  b=split(a)
  #print(len(b))
  c=[0]*len(b)
  for i in range(len(b)-1,-1,-1):
    #print(b[i])
    c[con]=b[i]
    con=con+1
  print(*c,sep="")

Digitos Primos

In [ ]:
def primo(x):
  cont = 0
  for i in range(1, x+1):
    if x % i == 0:   
      cont += 1
  if cont == 2:
    return 1
  else:
    return 0
def split(a):
  return [char for char in a]


for _ in range(int(input())):
  cc=0
  c=[]
  a=str(input())
  b=split(a)
  #print(b)
  for i in range(len(b)):
    
    if primo(int(b[i]))==1:
      
      c.append(b[i])
      cc=cc+1
  #print(cc)
  if cc==0:
    print("-1")
  else:
    print(*c,sep="")

Bowling

In [ ]:
a,b=map(int,input().split())
c=((a*(a+1))//2)
a=a+1
b=a-b
d=((b)*((b)+1))//2
print(c-d)

Divisibilidad

In [ ]:
 a,b=map(int,input().split())
 while(a!='' and b!=''):
   a,b=int(a),int(b)
   if (a>=b and a%b==0):
     print(a,"es divisible por",b)
   elif(b>a and b%a==0):
     print(b,"es divisible por",a)
   else:
     print("-1")
   a,b=map(str,input().split())
break

Números armonicos

In [ ]:
h=0
for i in range(1,int(input())+1):
  h=h+(1/i)
print("{:.4f}".format(h))

 Maximo Comun Divisor

In [ ]:
for _ in range(int(input())):
  a,b=map(int,input().split())
  for i in range((max(a,b)),0,-1):
    if (a%i==0 and b%i==0):
      print(i)
      break

Numero PI

In [ ]:
import math
n=int(input())
n=str("{:."+str(n)+"f}")
print(n.format(math.pi))

Intervalos

In [ ]:
a,b,x,y=map(int,input().split())
if(b>=x and a<=y):
  print("["+str(max(a,x))+","+str(min(b,y))+"]")
else:
  print("[]")

Cadena Bailarina

In [ ]:
for _ in range(int(input())):
  a=str(input())
  def split(a):
      return [char for char in a]
  b=split(a)
  s=0
  for i in range(len(b)):
    if(b[i]!=' '):
      if(s%2==0):
        b[i]=b[i].upper()
        s+=1
      else:
        s-=1
  print(*b,sep="")         #convierte de min a MAY

Contar letras

In [ ]:
l=str(input())
a=str(input())
c=0
def split(a):
  return [char for char in a]
b=split(a)
for i in range(len(b)):
  if (b[i]==l):
    c+=1
print(c)

Chewbacca

In [ ]:
a=str(input())
c=0
def split(a):#                           separar cadenas letra por letra
  return [char for char in a]
b=split(a)
for i in range(len(b)):
  if(b[i]=='a' or b[i]=='r' or b[i]==' '):
    c+=1

if(c==len(b)):
  print("Chewbacca")
else:
  print("Han Solo")

#MODULARIDAD

In [ ]:
def facto(z):
  f=1
  for i in range(1,z+1):
    f=f*i
  return(f)

def udig(n):
  vd=n%10
  return(vd)
  
n=int(input())
if n%2==0:
  r=facto(n)
  print(r)
else:
  x=udig(n)
  print(x)

In [ ]:
def fibo(x):
  a=0
  b=1
  for _ in range(x):  
    print(a)
    c=a+b
    a=b
    b=c
  return 0
def nat(y):
  for i in range(y):
    print (i)
  return 0
n=int(input())
if n%2==0:
  fibo(n)
else:
  nat(n)

#CREAR MATRIZ

In [ ]:
def crearMatriz(n,m):
    matriz=[]
    for i in range(n):
        matriz.append([0]*m)
    return matriz
def mostrarsinespacioF(matriz):
    for i in matriz:
        print(*i)
def mostrarconespacioF(matriz):
    for i in matriz:
        print(*i,"")

a,b=map(int,input().split())
matriz=crearMatriz(a,b)
print(mostrarconespacioF(matriz))

matriz k1

In [ ]:
def crearMatriz(n,m):
    matriz=[]
    for i in range(n):
        matriz.append([0]*m)
    return matriz
def mostrarsinespacioF(matriz):
    for i in matriz:
        print(*i)
def mostrarconespacioF(matriz):
    for i in matriz:
        print(*i,"")

a,b=map(int,input().split())
matriz=crearMatriz(a,b)
sw=0
fila=0
columna=0
sw1=0
cont=0
c=1
sw2=0
s=16
for i in range(a*b):
    if sw==0:
        if sw1==0:
            matriz[fila][columna]=0
            columna=columna+1
            cont=cont+1
            if cont==c:
                sw1=1
                c=c+1
                cont=0
        else:
            matriz[fila][columna]=1
            columna=columna+1
            sw1=0
        if columna==b:
            fila=fila+1
            columna=0
            sw=1
    else:
        if sw2==0:
            matriz[fila][columna]=1
            columna=columna+1
            sw2=1
        elif sw2==1:
            matriz[fila][columna]=2
            columna=columna+1
            sw2=2
        elif sw2==2:
            matriz[fila][columna]=4
            columna=columna+1
            sw2=3
        else:
            matriz[fila][columna]=s
            s=s+s
            columna=columna+1
        if columna==b:
            fila=fila+1
            columna=0
            sw=0
mostrarsinespacioF(matriz)

# otra suma

In [ ]:
def sumardig(n):
    s=0
    while(n!=0):
        r=n%10
        n=n//10
        s=s+r
    return s
while 1:
    try:
        a,b,c=map(int,input().split())
        s=0
        for i in range(1,a+1):
            p=sumardig(i)
            if(p>=b and p<=c):
                s=s+i
        print(s)
    except EOFError:
        break

escoger equipos

In [ ]:
while 1:
    try:
        n=[int(i) for i in input().split()]
        n.sort()
        n=n[::-1]
        capitan1=0
        capitan2=0
        for i in range(len(n)):
            if(i%2==0):
                capitan1=capitan1+n[i]
            else:
                capitan2=capitan2+n[i]
        print(capitan1-capitan2)
    except EOFError:
        break

vector ordenar

In [ ]:
def straint(vec):
  b=vec.split()
  for i in range(len(b)):
    b[i]=int(b[i])
  return b
def bubblesort(vec,n):
    for i in range(n):
        for j in range(i+1,n):
            if vec[i]>vec[j]:
                p=vec[i]
                vec[i]=vec[j]
                vec[j]=p
    return vec
for _ in range(int(input())):
  x=int(input())
  a=str(input())
  vec=straint(a)
  print(*bubblesort(vec,x),sep=" ")

intercambio de trenes

In [ ]:
def bubblesort(vec,n):#                                    ordenar listas 
    c=0
    for i in range(n):
        for j in range(i+1,n):
            if vec[i]>vec[j]:
                aux=vec[i]
                vec[i]=vec[j]
                vec[j]=aux
                c=c+1
    return c     
for _ in range(int(input())):
    n=int(input())
    lista=[int(i) for i in input().split()]
    print(bubblesort(lista,n))

Igualar el array

In [ ]:
def straint(vec):
  b=vec.split()
  for i in range(len(b)):
    b[i]=int(b[i])
  return b
n=int(input())
a=str(input())
cc=0 
a=straint(a)
lis=[]
for i in range(max(a)+1):
  c=0
  for j in range((len(a))):
    if a[j]==i:
      c+=1
  lis.append(c)

x=lis.index(max(lis)) 
lisa=[x]*max(lis)
print(len(a)-len(lisa))

Digitos Primos

In [ ]:
def primo(n):
  
  cont = 0
  for i in range(1, n+1):
    if n % i == 0:
      
      cont += 1

  if cont == 2:
    return 1
  else:
    return 0
def straint(vec):
  
  for i in range(len(vec)):
    vec[i]=int(vec[i])
  return vec
def ch(a):#                           separar cadenas letra por letra
  return [char for char in a]

for _ in range(int(input())):
  lis=[]
  c=0
  v=str(input())
  b=straint(ch(v))
  for i in range(len(b)):
    if primo(b[i]):
      lis.append(b[i])
      c+=1
  if c !=0:
    print(*lis,sep="")
  else:
    print("-1")

Array Palindrome?

In [ ]:
#def reverse(v): #        invertir lista
 # vc=[]
  #for i in range(len(v)-1,-1,-1):
   # vc.append(v[i])
  #return vc
def straint(vec):
  b=vec.split()
  for i in range(len(b)):
    b[i]=int(b[i])
  return b
input()
n=str(input())
c=0

n=straint(n)
#m=reverse(n)
#print(n,m)
cc=len(n)
for j in range(len(n)):
  cc-=1

  if n[j]!=n[cc]:
    c+=1

if c>0:
  print("NO")
else:
  print("SI")

Muros en AOE2

In [ ]:
def verifi(x,y,n):

  exs=[]
  if x<1:
    exs.append('*')
  else:
    exs.append(x)
  if y > n:
    exs.append('*')
  else:
    exs.append(y)
  #print("~~~~",x,y,n,exs)
  return exs
def extrem(v,a,b):
  ex=[]
  for k in range(len(v)):
    if v[k]==0:
      ex.append(k)

  #print("=========")
  return ex

def report(v,a,b):
  
  for j in range (a,b+1):
    v[j]=0

  return(v)

def matriz(n):
  v=[-1]
  for i in range(1,n+2):
    v.append(i)
  return v
n,r=map(int,input().split())
v=matriz(n)
for _ in range(r):
  a,b=map(int,input().split())

  v=report(v,a,b)
  ex=extrem(v,a,b)
  ex1=verifi(min(ex)-1,max(ex)+1,n)
  #print(v,ex,ex1)
  print(*ex1,sep=" ")
w=str(input())
print("-")

# Olimpiadas, Fornite y Pizza

In [ ]:
while True:
     try:
          n=int(input())
          n+=1
          if(n==1):
            print(n-1)
          elif n%2==0:
            print(n//2)
          else:
            print(n)
     except EOFError:
          break

Primos en un rango

In [ ]:
def primo(n):
  
  cont = 0
  for i in range(1, n+1):
    if n % i == 0:
      
      cont += 1

  if cont == 2:
    return True
  else:
    return False
c=0
a,b=map(int,input("introduce un numero de inicio y fin").split())
for i in range(a,b+1):
  if primo(i):
    c+=1
print(c)

busqueda binaria

In [ ]:
def busqueda_binaria(vec,x):
    vec.sort() #ordena 1 3 5 7 9 11 13 15 17 19 21 23
    izq=0
    der=len(vec) - 1
    while(izq<=der):
        mitad=(izq+der)//2
        if vec[mitad]==x:
             return False
        elif vec[mitad] > x:
            der=mitad-1
        else:
            izq=mitad+1
    return True
            
#==================NUESTRO MENU==================           
vec=[21,23,19,15,17,13,9,11,7,5,1,3]
numerobuscado=15          
if(busqueda_binaria(vec,numerobuscado)):
    print("no existe ese numero")
else:
    print("si existe")

busqueda secuencial
¿Hola, qué tal?

In [ ]:
def Busqueda_Secuencial(vec,x):
    for i in range(len(vec)):
        if(vec[i]==x):
            return True
    return False

vec=[21,23,19,15,17,13,9,11,7,5,1,3]
numerobuscado=4

if(Busqueda_Secuencial(vec,numerobuscado)):
    print("si existe")
else:
    print("no existe ese numero")

n en raya

In [ ]:
n=int(input())
matriz=[]
for i in range(n):
    matriz.append(input().replace(" ",""))
luis=0
vero=0
l=0
v=0
for i in range(n):
    for j in range(n):
        if(matriz[i][j]=="X"):
            vero=vero+1
        else:
            luis=luis+1
    if(vero==n):
        v=1
    if(luis==n):
        l=1
    luis=0
    vero=0
for i in range(n):
    for j in range(n):
        if(matriz[j][i]=="X"):
            vero=vero+1
        else:
            luis=luis+1
    if(vero==n):
        v=1
    if(luis==n):
        l=1
    luis=0
    vero=0
dere=0
for i in range(n):
    if(matriz[i][dere]=="X"):
        vero=vero+1
    else:
        luis=luis+1
    dere=dere+1
if(vero==n):
    v=1
if(luis==n):
    l=1
luis=0
vero=0
dere=n-1
for i in range(n):
    if(matriz[dere][i]=="X"):
        vero=vero+1
    else:
        luis=luis+1
    dere=dere-1
if(vero==n):
    v=1
if(luis==n):
    l=1
if(v==1 and l==0):
    print("Vero")
elif(l==1 and v==0):
    print("Luis")
elif(l==1 and v==1):
    print("Empate")
else:
    print("Empate")
mip-ffet-pro

montanas matematicas

In [ ]:
def suma(vec,index):
    suma=0
    while(index > 0):
        suma+=vec[index]
        index-=index & (-index)
    return suma
def cargar(vec,n,index,var1):
    while(index<=n):
        vec[index]+=var1
        index+=index & (-index)
def contar(vec,n):
    cont=0
    maxi=max(vec)
    BitR=[0]*(maxi+1)
    BitL=[0]*(maxi+1)
    for i in range(n-1,0,-1):
        cargar(BitR,maxi,vec[i],1)
    cargar(BitL,maxi,vec[0],1)
    for i in range(1,n-1):
        cargar(BitR,maxi,vec[i],-1)
        L=suma(BitL,vec[i]-1)
        R=suma(BitR,vec[i]-1)
        cont+=(L*R)
        cargar(BitL,maxi,vec[i],1)
    return cont
for j in range(int(input())):
    n=int(input())
    l=[int(k) for k in input().split()]
    print(contar(l,n))

sin repeticiones aaron

In [ ]:
import sys
criba=[0]*1000001
for i in range(2,1000001):
    if(criba[i]==0):
        for j in range(i,1000001,i):
            criba[j]=criba[j]+i
for leer in sys.stdin:
    a,b=map(int,leer.split())
    for i in range(a,b):
        if(criba[i]==criba[i+1]):
            print(i,i+1)

Alex Jhon Y Las Monedas

In [ ]:
for _ in range(int(input())):
  c=1
  r=input()
  n=[int(k) for k in input().split()]
  n.sort()
  ##print("==========",n)
  for i in range(len(n)):
    if c<=n[i]:
      ##print(n[i])
      c+=1
  print(c-1)

6174

In [ ]:
def unir(u):
  l=""
  for j in range(len(u)):
    l=l+u[j]
  return(int(l))

def maxx(n):
  n=sorted(n)
  aux=[]
  for i in range(len(n)-1,-1,-1):
    aux.append(n[i])
  m=unir(aux)
  return (m)

def minn(n):
  n=sorted(n)
  mm=unir(n)  
  return (mm)

def char(n):
  return[char for char in n]


for _ in range(int(input())):
  c=0
  n=str(input())
  
  while(n!="6174"):
    
    n=char(n)
    
    min=minn(n)
    max=maxx(n)
    
    n=str(max-min)
    c+=1
  print(c)

Nueva serie

In [ ]:
def gcd(a,b):
  

for _ in range(int,input().split()):
  a=0
  n=int(input())
  if gcd(n,a(n−1))==1:
      a(n)=a(n−1)+n+1
  else
      a(n)=a(n−1)/gcd(n,a(n−1))
  print(a,n)

Copia Detectada!!!

In [ ]:
def copia(n):
  ma=0
  mi=0
  
  for i in range(len(n)):
    if n[i]==max(n):
      ma+=1
    if n[i]== min(n):
      mi+=1
  if ma==1:
    return(n.index(max(n)))
  if mi==1:
    return(n.index(min(n)))

for _ in range(int(input())):
  q=input()
  n=list(map(int,input().split()))
  
  print(copia(n))

recuadros

In [ ]:
def unir(a,b,n):
  for l in range(n):
    a[l].extend(b[l])
    print(*a[l],sep="-")
  return(a)

def escribir(m,n,k,nn):
  for x in range(n):
    for y in range(n):
     if((x>=0+k and x<=n-1-k) and ( y>=0+k and y<=n-1-k)):

       m[x][y]=nn

  return(m)

    
def matriz(n):
  w, h = n, n;
  m = [["" for x in range(w)] for y in range(h)] ##crear matriz bidimensional
  return(m)

n=int(input())
a=matriz(n)
b=matriz(n)
c=0
d=0
for k in range(n+1):
  
  if k & 1==0:
    a=escribir(a,n,d,k)
    d=d+1
  else:
    b=escribir(b,n,c,k)
    c=c+1 

print("MOSTRANDO MATRIZ...")
a=unir(a,b,n)  

#mostrar(b,n)

In [ ]:
Lista1 = [1, 2, 3]
Lista2 = [4, 5, 6]
Lista1.extend(Lista2) #Añadimos la lista2 como extensión de Lista1
print (Lista1)

Ari y las tarjetas perforadas

In [ ]:
for k in range(int(input())):
  y,x=map(int,input().split())
  print("Tarjeta #"+str(k+1)+":")
  print(".."+"+-"*(x-1)+"+")
  for i in range(y):
    if(i==0):
      print(".."+"|."*(x-1)+"|")
    else:
      print("|."+"|."*(x-1)+"|")
    print("+-"+"+-"*(x-1)+"+")

Lista Modulo N

In [ ]:
def mostrar(v,n1):
  lis=[]
  for j in range(1,len(v)-1 ):
    if(v[j] != n1):
     
      lis.append(v[j])
    else:
      lis.append(n1)
      break
  return (lis)

def ch(a):#                           separar cadenas letra por letra
  return [char for char in a]

def ultim(v):
  return(v.pop())

for _ in range(int(input())):
  n,p=map(int,input().split())
  for i in range(1,p+1):
    m=ch(str(n**i))
    print(*m,sep="")
    m=ultim(m)
    
    if(i==1):
      n1=m
      lis=[]
    lis.append(m)
  #print(*mostrar(lis,n1),sep=",")

Capicua

In [ ]:
for _ in range(int(input())):
  c=0
  m=(int(input()))
  n=10**(m)
  for i in range(10**(m-1),n):
    i=str(i)
    if(i==i[::-1]): # invertir lista( lista[::-1] )
      c+=1
      
  print(c,"==========")

In [ ]:
for _ in range(int(input())):
  m=(int(input()))
  if m==2:
    print("9")
  if m==3 or m==4:
    print("90")
  if m==5 or m==6:
    print("900")
  if m==7 or m==8:
    print("9000")
  if m==9 or m==10:
    print("90000")

Secuencia de Fracciones

In [ ]:
from fractions import Fraction
for _ in range(int(input())):
  n=int(input())
  m=("0."+str((5+n)-1))
  m=float(m)
  if(n==0):
    print("1") 
  else:
    if(n==2):
      print("2/3")
    else:
      print(Fraction(m).limit_denominator())

1. Utilizando modularidad: Dado un lote de N números, mostrar los dígitos
central(es) de cada número.

In [ ]:
for _ in range(int(input())):
  n=list(map(int,input().split()))#convierte str en una lista
  print(n)

examen eje1

In [ ]:
def mostrar(v,x,y):
  for i in range(y):
    print(*v[i],sep=" ")

def matriz(x,y):
  w, h = x, y;
  m = [["0" for x in range(w)] for y in range(h)] 
  
  for x in range(w):
    for y in range(h):
      if(x*2==w):
        m[y][x],m[y-1][x-1]=1,1
      if(y*2==h):
        m[y][x],m[y-1][x-1]=1,1
      if((x*2)+1==w):
        m[y][x]=1
      if((y*2)+1==h):
        m[y][x]=1

  return(m)
x,y=map(int,input().split())
vec=matriz(x,y)
mostrar(vec,x,y)

examen eje2

In [ ]:
def mostrar(v,x,y):
  for i in range(y):
    print(*v[i],sep=" ")

def matriz(x,y):
  w, h = x, y;
  m = [["0" for x in range(w)] for y in range(h)]
  for x in range(0,w,2):
    for y in range(h):
      m[y][x]=1
      
    
  return(m)







  3
  
  

x,y=map(int,input().split())
vec=matriz(x,y)g
mostrar(vec,x,y)

In [ ]:
v=[1,2,3,4,5,61,12,23,34,45,56,67,78,98]
list(filter(lambda iterador:iterador%2!=0,v))# filtro de una lista

In [ ]:
v=[1,3,4,1,2,3,2,4,4,5,0]
print(v)
print(*set(v),sep=" ")#eliminar repetidos de una lista

mapa

In [ ]:

x,y=map(int,input().split())
x1,y1=map(int,input().split())
lis=str(input())
lis=list(lis)

for i in range(len(lis)):
  if(lis[i]=="w"):
    x1-=1
  elif(lis[i]=="s"):
    x1+=1
  elif(lis[i]=="a"):
    y1-=1
  elif(lis[i]=="d"):
    y1+=1

  if(x1>=x):
    x1=x-1
  if(y1>=y):
    y1=y-1

  if(x1<0):
    x1=0
  if(y1<0):
    y1=0
print(x1,y1)

secuencia de numeros

In [ ]:
#@title camino
import functions
x=2
if primo(x):
  print("sii")

#**INVIERNO 2022**

##INTRODUCCION

In [ ]:
#@title mayor de 2
a,b=map(int,input().split())
if a>b:
  print("el mayor es: ",a)
else:
  print("el mayor es: ",b)

In [ ]:
#@title mayor de 4
a,b,c,d=map(int,input().split())
may=0
if a>may:
  may=a
if b>may:
  may=b
if c>may:
  may=c
if d>may:
  may=d
print("el mayor es:",may)

In [ ]:
#@title menu
print("menu \n 1.pares\n 2.multiplos de 3\n 3.salir\nIngrese una opcion: ")
n=int(input())
if n==1:
  print("ingrese N terminos: ")
  for i in range(2,int(input())*2+1,2):
    print(i)
elif n==2:
  for j in range(0,int(input())*3,3):
    print(j)
elif n==3:
  print("fin de programa: ")
else:
  print("Error de seleccion!")

In [ ]:
#@title sumatoria
nat=1
s=0
for i in range(int(input("introduzca N: "))+1):
  s+=i
print("la suma es: ",s)

In [ ]:
#@title factorial
m=1
for i in range(1,int(input())+1):
  m*=i
print("factorial: ",m)

In [ ]:
#@title menu de 5
n=int(input("Menu\n1.par o impar\n2.primo o no primo\n3.factorial\n4.fibonacci\n5.menor de 3\nelija una opcion :"))
if n==1:
  print("ingrese un numero")
  if(int(input())%2==0):
    print("el numero es par")
  else:
    print("el numero es impar")
elif n==2:
  c=0
  x=int(input("ingrese un numero"))
  for i in range(1,x+1):
    if x%i==0:
      c=c+1
  if c>2:
      print("no es primo")
  else:
      print("es primo")
elif n==3:
  m=1
  for i in range(1,int(input("introduzca un numero: "))+1):
    m*=i
  print("factorial: ",m)  
elif n==4:#-----------------fibonaci
  for i in range(int(input("introduzca un numero: "))):
    a=-1
    b=1
    a=b
    b=c
    print(c)
elif n==5:
  a,b,c=map(int,input("introduzca 3 numeros: ").split())
  may=a
  if a<may:
    may=a
  if b<may:
    may=b
  if c<may:
    may=c
  print("el menor es: ",may)
else:
  print("error de seleccion")

In [ ]:
#@title cambio de  valores entre 2 variables
a=int(input("un numero A: "))
b=int(input("un numero B: "))
a=a+b
b=a-b
a=a-b
print("A: ",a,"b: ",b)

In [ ]:
#@title hallar la suma de los N primeros pares
s=0
for i in range(2,int(input("introducir N: "))*2+1,2):
  #print(i)
  s+=i
s

In [ ]:
#@title hallar el producto de N potencias de 2
s=1
for i in range(1,int(input("introducir N: "))+1):
  print(i**2)
  s=s*(i**2)
  
s

In [ ]:
#@title utilizando while hallar el producto de los N primeros impares
i=1
p=1
c=int(input("introducir N: "))*2
while(i<=c):
  #print(i)
  p*=i
  i+=2
print(p)

In [ ]:
#@title menu
i=0
while(i!=4):
  i=int(input(("\n\nMENU:\n 1.-menor de 2 numeros\n 2.-mostrar la suma de N primeros naturales\n 3.-nota de estudiante\n 4.-salir\nelija una opcion\n")))

  if i==1:
    a=int(input("ingrese un numero: "))
    b=int(input("ingrese otro numero: "))
    if a<b:
      print("el menor es: ",a)
    else:
      print("el menor es: ",b)
  elif i==2:
    s=0
    for i in range(1,int(input("ingrese N: "))+1):
      s+=i
    print("la suma es: ",s)
  elif i==3:
    n=int(input("ingrese nota: "))
    if n>51:
      print("aprobo con: ",n)
    else:
      print("reprobo con: ",n)
  elif i==4:
    print("fin de programa")
  else:
    break

##SERIES

In [ ]:
#@title primeros n pares
for i in range(2,int(input("N; "))*2+1,2):
  print(i)

In [ ]:
#@title 1,3,5,7,9,...
for i in range(1,int(input("N: "))*2+1):
  print(i)

In [ ]:
#@title 5,6,8,11,15,...
s=5
for i in range(int(input("N: "))):
  s=s+i
  print(s)

In [ ]:
#@title 5,6,4,7,3,8,2,9,1,.....
c=5
for i in range(1,int(input("N: "))+1):
  if i%2==0:
    print(c)
    c-=i
  else:
    print(c)
    c+=i

In [ ]:
#@title 1,3,2,6,3,9,4,12
c=0
cc=3
for i in range(1,int(input("N: "))+1):
  if i%2==1:
    c+=1
    print(c)
  else:
    print(cc)
    cc+=3

In [ ]:
#@title 2,1,2,2,2,3,2,4,2,5,....
s=bool
s=True
c=0
for i in range(int(input("N: "))):
  if s:
    print(2,end=" ")
    s=False
  else:
    c+=1
    print(c,end=" ")
    s=True\

In [ ]:
#@title 0-2-5-0-4-10-0-6-15-0-
c=0
cc=0
s=1
for i in range(int(input("N: "))):
  if s==1:
    print("0",end="-")
    s=2
  elif s==2:
    cc+=2
    print(cc,end="-")
    s=3
  elif s==3:
    c+=5
    print(c,end="-")
    s=1

In [ ]:
#@title 0,1,6  1,2,6  1,2,6  2,3,6  3,4,..
a=-1
b=1
s=1
for i in range(int(input("N: "))):
  if s==1:
    c=a+b
    a=b
    b=c
    print(c,end=" | ")
    s=2
  elif s==2:
    
    print(c+1,end=" | ")
    s=3
  elif s==3:
    
    print("6",end=" || ")
    s=1

In [ ]:
#@title 2 | 0 | 1 || 4 | 1 | 0 || 8 | 1 | 1 || 16 | 2 | 0 || 32 | 3 | 1 || 
a=-1
b=1
s=1
cc=0
p=0
for i in range(int(input("N: "))):
  if s==1:
    p+=1
    print(2**p,end=" | ")
    s=2
  elif s==2:
    c=a+b
    a=b
    b=c
    print(c,end=" | ")
    s=3
  elif s==3:
    cc+=1
    if cc%2==0:
      print("0",end=" || ")
    else:
      print("1",end=" || ")
    s=1

In [ ]:
#@title N: 7:   1 2 2 3 3 3 4
v=[]
n=int(input("N: "))
for i in range(1,n+1):
  v.extend(list(str(i)*i))
print(*(v[0:n]),sep=" ")

In [ ]:
#@title n=7: 1,2,2,3,3,3,4 simple
p=1
k=1
for i in range(int(input("n: "))):
  print(p,end="-")
  if(p==k):
    p+=1
    k=0
  k+=1

##SUMATORIAS

In [ ]:
#@title sumatoria de factoriales de pares
s=0
for i in range(2,int(input("N: "))*2+1,2):
  m=1
  for j in range(1,i+1):
    m*=j
  s+=m
s

In [ ]:
#@title suma de i^2/2^i 
s=0
for i in range(1,int(input("N: "))+1):
  s+=(i*2)/(2**i)
s

In [ ]:
#@title suma de fibonacci  / factorial de impares
a,b,s=-1,1,0
for i in range(int(input("N: "))):
  c=a+b
  a=b
  b=c
  m=1
  for j in range(1,i*2+2):
    m*=j
  s+=(c/m)
s

##LOTES

In [ ]:
#@title suma de pares en lote
s=0
for _ in range(int(input("N: "))):
  n=int(input("="))
  if(n%2==0):
    s+=n
s

In [ ]:
#@title suma de primos en un lote
def primo(n):
  c=0
  for i in range(1,n+1):
    if n%i==0:
      c+=1
  if c==2:
    return True
  else:
    return False
s=0
for _ in range(int(input("N: "))):
  n=int(input("="))
  if primo(n):
    s+=n
s

In [ ]:
#@title suma de dos numeros consecutivos 
s=0
for i in range(int(input("N: "))):
  p=s 
  n=int(input())
  s=n
  if(i!=0):
    print("=",p+n)

In [ ]:
#@title mostrar multiplos de 3 hasta que se pulse un N-
n=0
while(n>=0):
  n=int(input("+:"))
  if n%3==0:
    print("    = ",n)

In [ ]:
#@title factorial de positivos e invertir negativos
p=0
ne=0
n=int(input(": "))
while(n!=-1):
  if n>=0:
    p+=n
  else:
    ne+=n
  n=int(input(": "))
print("negativos",ne)
print("positivos",p)

## pract lab 2

In [ ]:
#@title 01
for i in range(int(input("N:"))):
  if i%2==1:
    print("1",end=",")
  else:
    print("0",end=",")

In [ ]:
#@title 02
s=0
for i in range(int(input("N: "))):
  s+=2**i
  print(s,end=",")

In [ ]:
#@title 03
s=0
for i in range(1,int(input("N: "))+1):
  s+=((2*i)/i)
s

In [ ]:
#@title 04
s=0
c=0
x=int(input("X:"))
for i in range(1,int(input("N: "))*2,2):
  c+=5
  s+=((x*i)/c)
print(s)

X:7
N: 4
8.283333333333335

In [ ]:
#@title 05
s=0
x=int(input("X:2"))
for i in range(1,int(input("N: "))+1):
  m=1
  for j in range(1,i*2+1):
    m*=j
  s+=((x**(2**i))/m)
print("=",s)

X:2
N: 4
= 4.647619047619047